*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
*{
    background-color: lightslategrey;
}
.container{
    width:250px;
    height:20px;
    position:relative;
    margin:10px;
    display:inline-block;

}
img{
    width:90%;
}

p{
   
    
    background-color:black;
    color:white;
    position:absolute;
    top:0;
    padding:5px;
    
}
.parent{
    width:250px;
    height:200px;
    position:relative;
    margin:10px;
    display:inline-block;
    
   

}
#pic1,#pic2,#pic3,#pic4{
     width: 20%;
    border: 2px;
    display: inline-block;
    padding-left: 10px;
    vertical-align: top;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px; 
    width:90%;
}
.container1{
    width:95%;
    position:relative;
    margin:10px;
    display:inline-block;
    padding:5px;
    border-color: black;
    margin:0 auto;
    background-color:dimgray;
    border:5px;
}
h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-top:4px;
}